
# ==============================
# Environment Variables
# ==============================

.env


# ==============================
# Python (if added later)
# ==============================

__pycache__/
*.pyc
*.pyo


# ==============================
# Virtual Environments
# ==============================

venv/
env/


# ==============================
# Logs
# ==============================

*.log
